$primary-color: #f8b959;
$primary-color-hover: #f0a30a;
$secondary-color: #fdeacd;
$secondary-color-hover: #e6d1b0;
$red-btn: #f95a50;
$green-btn: #d9f8cf;
$gray-green: #bddcb3;
$pink-btn: #e6a5a1;

$primary-bg-color: #d9d9d9;
$secondary-bg-color: #e7e3e4;
$card-bg-color: #ffffff;