.modal {
    &__backdrop {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.1);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1000;
    }

    &__container {
        background: #ffffff;
        padding: 2rem;
        border-radius: 25px;
        width: 70%;
        max-width: 650px;
        text-align: center;
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;

        &--success .modal__icon {
            color: green;
        }

        &--error .modal__icon {
            color: red;
        }

        &--confirmation .modal__icon {
            display: none;
        }
    }

    &__title {
        color: $red-btn;
        font-weight: 300;
    }

    &__message {
        font-size: 1.25rem;
        margin: 1rem 0;
    }

    &__icon {
        font-size: 3rem;
    }

    &__button {
        padding: 0.5rem 2.5rem;
        border-radius: 30px;
        margin-top: 1rem;
        font-size: 1rem;

        &--cancel {
            background-color: $secondary-color;
            
            &:hover {
                background-color: $secondary-color-hover;
            }
        }

        &--delete {
            background-color: $red-btn;
            
            &:hover {
                    background-color: red;
                }
        }
    }

    &__actions {
        display: flex;
        justify-content: center;
        gap: 1rem;
        width: 100%;
    }
}