.modal {
  &__editor-content {
    padding: 2rem;
    border-radius: 8px;
    background-color: white;
  }

  &__editor-header {
    display: flex;
    justify-content: center;
    padding: 1rem;
  }

  &__editor-body {
    padding: 1rem;
  }

}