.home {
    padding: 2rem 6rem;
    text-align: center;

    &__header-container {
            max-width: $max-content-width;
            margin: 0 auto;
            padding: 0 20px;

            @media (max-width: $breakpoint-sm) {
                    padding: 0 0;
                }
        }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;       

        & .home__button--logout {
            color: $red-btn;
            cursor: pointer;
            border: none;
            background: none;
            font-size: 1.25rem;

            @media (max-width: $breakpoint-sm) {
                font-size: 0.9rem;
            }
        }

        & .home__button--add {
            padding: 0 2rem;
            border-radius: 30px;
            cursor: pointer;

            &:hover {
                background-color: $primary-color-hover;
            }

            
            @media (max-width: $breakpoint-sm) {
                padding: 0 0.8rem;
                border-radius: 15px;
                font-size: 0.8rem;
            }
        }
                @media (max-width: $breakpoint-sm) {
                    justify-content: center;
                }
    }

    &__title {
        font-size: 1.25rem;
        margin-top: 0.5rem;
        margin-bottom: 3rem;
    }
}
