.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;

    &__list {
        display: flex;
        list-style: none;
        padding: 0;
    }

    &__item {
        margin: 0 5px;

        &--active .pagination__link {
            background-color: $primary-color;
            color: black;
        }
    }

    &__link {
        background-color: $secondary-bg-color;
        color: black;
        border: none;
        padding: 0.4rem 0.75rem;
        border-radius: 5px;
        cursor: pointer;
        text-decoration: none;

        &:hover {
            background-color: $primary-color-hover;
        }
    }
}