.post-list-container {
    max-width: $max-content-width;
    margin: 0 auto;

    &__box {
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
        gap: 2rem;
        padding: 20px;

        @media (max-width: $breakpoint-md) {
            grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
        }

        @media (max-width: $breakpoint-sm) {
            grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
        }
    }
}