
.stats-boxes {
    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding: 20px;
    justify-content: center;
    max-width: $max-content-width;
    margin: 0 auto;
    white-space: nowrap;

        @media (max-width: 768px) {
                grid-template-columns: 1fr;
                justify-items: center;
        
                &__box {
                    width: 100%;
                    max-width: 200px;
                }
            }

    &__box {
        padding: 1rem;
        border-radius: 10px;
        text-align: center;

        &--total-accounts {
            background-color: $secondary-color
        }

        &--total-posts {
            background-color: $pink-btn
        }

        &--my-posts {
            background-color: $gray-green
        }
    }

    &__label {
        font-size: 1rem;
    }

    &__value {
        font-size: 2rem;
    }


}